/*===== PRIMARY STYLES =====*/
/* Author: Brian Jesse */

@footer-height: 100px;

* {
  margin: 0;
}
html,
body {
  height: 100%;
  padding: 0;
}
.wrapper {
  color: @BrianDarkGreen;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto (0 - (@footer-height));
  background-color: @BrianLightGreen;
}
footer,
.push {
  height: @footer-height;
}
.title .container,
.content {
  padding: 20px;
}
.title {
  color: @BrianLightGreen;
  background-color: @BrianGreen;
  .container {
    background-color: @BrianDarkGreen;
  }
  h1 {
    margin-top: 40px;
    font-size: 70px;
    line-height: 1.2;
  }
  .span10 {
    text-align: center;
  }
  .btn {
    margin-right: 20px;
    margin-top: 40px;
  }
}
footer {
  color: @BrianLightGreen;
  background-color: @BrianBrown;
  h4 {
    padding-top: 20px;
    padding-left: 20px;
  }
}
.well {
  border: 0 none;
  color: @BrianLightGreen;
  background-color: @BrianBrown;
  hr {
    border-top: 1px solid @BrianGreen;
    border-bottom: 1px solid @BrianGreen;
  }
  table {
    strong {
      color: @BrianGreen;
      font-size: 1.5em;
    }
    .confirm-delete,
    .action-icon {
      text-align: center;
    }
    .confirm-delete .btn {
        color: #fff;
    }
    a:hover,
    a:focus,
    a:visited,
    a:link {
      color: @BrianLightGreen;
    }
    .action-icon a:hover,
    .action-icon a:focus,
    .action-icon a:visited,
    .action-icon a:link,
    .reverse-icon:hover,
    .reverse-icon:focus,
    .reverse-icon:visited,
    .reverse-icon:link {
      text-decoration: none;
    }
    .action-icon a:hover {
      font-size: 1.3em;
    }
    .reverse-icon {
        margin-left: 10px;
    }
  }
  input,
  select {
    border: 1px solid darken(@BrianGray, 10%);
    background-color: lighten(@BrianBrown, 15%);
  }
  input,
  select,
  .error input,
  .error select,
  .error select:focus {
    color: @BrianLightGreen;
  }
}
.icon-large {
  padding-right: 10px;
}
.fb-badge {
  float: right;
  margin-left: 20px;
}
ul.nav-list,
ul.nav-tabs {
  a,
  a:hover,
  li.active a,
  li.active a:hover {
    border-right: 2px solid darken(@BrianGray, 10%);
    border-left: 2px solid darken(@BrianGray, 10%);
    background-color: @BrianGray;
    color: #fff;
  }
}
ul.nav-list {
  margin-bottom: 20px;
  li:first-child a {
    .border-top-radius(6px);
    border-top: 2px solid darken(@BrianGray, 10%);
  }
  li:last-child a {
    .border-bottom-radius(6px);
  }
  a {
    border-bottom: 2px solid darken(@BrianGray, 10%);
  }
  a.active {
    background-color: lighten(@BrianGray, 10%);
  }
  a:hover {
    background-color: darken(@BrianGray, 10%);
  }
  i {
    float: right;
  }
}
ul.nav-tabs {
  border-bottom: 2px solid darken(@BrianGray, 10%);
  a,
  a:hover,
  li.active a,
  li.active a:hover {
    border-top: 2px solid darken(@BrianGray, 10%);
    border-bottom: 0 none;
  }
  li.active a {
    background-color: lighten(@BrianGray, 10%);
    color: #fff;
  }
  a:hover,
  li.active a:hover {
    background-color: darken(@BrianGray, 10%);
    color: #fff;
  }
}
.form-actions {
  border-top: 2px solid darken(@BrianGray, 10%);
  background-color: lighten(@BrianBrown, 15%);
}
.accordion-group {
  border: 1px solid @BrianGray;
  ul {
    margin: 0;
    list-style-type: none;
  }
  a {
    display: block;
    color: @BrianLightGreen;
    padding-left: 20px;
    line-height: 2em;
  }
  a:hover {
    text-decoration: none;
  }
  li {
    border-bottom: 1px solid @BrianGray;
  }
  li:hover {
    background-color:  lighten(@BrianBrown, 20%);
  }
  li:last-child {
    border-bottom: none;
  }
}
.accordion-heading {
  background-color: @BrianDarkGreen;
  a {
    color: #fff;
  }
  a:hover {
    text-decoration: none;
  }
}
.accordion-inner {
  padding: 0;
  border-top: 1px solid @BrianGray;
  background-color: lighten(@BrianBrown, 15%);
}
#map_canvas {
  width: 100%;
  height: 500px;
}
.info-window {
  color: #000;
}
/* Bigger than tablet */
@media (min-width: 768px) {
  #carousel {
    position: relative;
    right: 19px;
    bottom: 20px;
  }
  #bootstraplove {
    margin-left: 80px;
  }
}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  #main_content {
      padding-top: 0;
  }
}
